NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CALENDAR_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_TIME_ZONE=America/Monterrey
GOOGLE_CALENDAR_EVENT_DURATION_MINUTES=20
GOOGLE_CONTACTS_CLIENT_ID=
GOOGLE_CONTACTS_CLIENT_SECRET=
GOOGLE_CONTACTS_REFRESH_TOKEN=
GOOGLE_CONTACTS_GROUP_ID=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
INTERNAL_NOTIFY_EMAIL=info.mas.sano@gmail.com
NEXT_PUBLIC_WHATSAPP_PHONE=525512345678
YOSOYSANO_BOOKING_TOKEN_SECRET=
META_WHATSAPP_PHONE_NUMBER_ID=1029856420214959
META_WHATSAPP_ACCESS_TOKEN=
META_WHATSAPP_VERIFY_TOKEN=
META_APP_SECRET=
META_GRAPH_API_VERSION=v23.0
